<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      ひざを話す会
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div 1 class="messages">
  <div 2 class="message">
    <div 3 class="upper-message">
      <div 4 class="message-user">
        Hizi
      </div 4>
      <div 5 class="message-date">
        2021//8/21(Sun) 12:43:30
      </div 5>
    </div 3>
    <div 6 class="lower-message">
      <div 7 class="message-content">
        おはよう
      </div 7>
    </div 6>
  </div 2>

  <div 2 class="message">
    <div 3 class="upper-message">
      <div 4 class="message-user">
        Hiza
      </div 4>
      <div 5 class="message-date">
        2021//8/22(Mon) 19:43:30
      </div 5>
    </div 3>
    <div 6 class="lower-message">
      <div 7 class="message-content">
        こんばんは
      </div 7>
    </div 6>
  </div 2>
</div 1>

<div 1 class="form">
  <div 2 class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div 2>
  <input class="form-submit" type="submit" value="送信">
</div 1>